@keyframes animacao {
  from {
    opacity: 0%;
  }

  to {
    opacity: 100%;
  }
}


@media only screen and (max-width: 948px) {
  * {
    font-size: 13px;
  }

  h1 {
    margin-top: -300px;
    font-size: 40px;
  }

  #blocoDeTexto {
    display: block;
  }

  body {
    display: block;
  }

  p {
    display: block;
  }

  .logotipo {
    font-size: small;

  }

  #tituloProjetos {
    margin-bottom: -50px;
    display: block;
  }

  .menu {
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  #minhaImagem {
    height: 400px;
    left: 300px;
  }

  #titulo {
    margin-top: 50px;
  }

  #meuResumo {
    margin-right: 10%;
    width: 450px;
  }

  #blocoDeTexto {
    margin-top: -100px;
    margin-left: 0;
    text-align: justify;
    margin-top: -600px;
  }

  .bloco {
    display: flex;
    width: 500px;
  
  }



  label {
    margin-left: -20px;
  }

  .name-usuario {
    font-weight: 100;
    font-size: 100%;
  }


  /**/

  #bloco2 {
    display: block;
    height: 1000px;

  }

  #tituloProjetos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #titulo {
    margin-left: 30px;
    margin-bottom: 50px;
  }


  #grid {
    margin-left: 25px;
    display: block;
    text-align: start;
    margin-bottom: 100px;
    background-color: rgba(0, 0, 0, 0.932);
    transition: 0.3s;
  }

  #grid-item {
    cursor: pointer;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin-left: 0px;
  }

  #imagem-card {
    height: 550px;
    width: 550px;
  }


  #card-img {
    display: block;
    width: 90%;
    height: 100px;
    background-color: #cccccc;
  }

  #card-content {
    margin-top: -200px;
    display: block;
  }

  #card-header {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
  }

  #card-text {
    display: none;

  }

  #card {
    margin-left: -25px;
    z-index: 1;
    color: #ffffff;
  }

  #card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    background-color: #ffffff;
    border: none;

  }

  /*footer */
  #bloco-footer {
    height: 550px;
  }

  footer {
    display: grid;
    text-align: center;
    border-top: solid 1px rgb(199, 199, 199);
  }

  #footer-item {
    width: 100%;
  }

  #bloco {
    display: block;
  }
}

@media only screen and (max-width: 500px) {
  * {
    font-size: 13px;
  }

  h1 {
    margin-top: -300px;
    font-size: 30px;
  }

  #blocoDeTexto {
    display: block;
  }

  body {
    display: block;
  }

  p {
    display: block;
  }

  .logotipo {
    font-size: small;

  }

  #tituloProjetos {
    margin-bottom: -50px;
    display: block;
  }

  .menu {
    width: 100%;
    position: fixed;
    z-index: 1;
  }

  #minhaImagem {
    margin-top: -50px;
    margin-bottom: 50px;
    left: 300px;
  }

  #titulo {
    margin-top: 50px;
  }

  #meuResumo {
    margin-right: 10%;
    width: 450px;
  }

  #blocoDeTexto {
    margin-top: -100px;
    margin-left: 0;
    text-align: justify;
    margin-top: -600px;
  }

  .bloco {
    display: flex;
    height: 600px;
  }



  label {
    margin-left: -20px;
  }

  .name-usuario {
    font-weight: 100;
    width: 100px;
    font-size: 100%;
  }


  /**/

  #bloco2 {
    display: block;
    text-align: center;
  }

  #tituloProjetos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #titulo {
    margin-left: 30px;
    margin-bottom: 50px;
  }

  #subtitulo-usuario {
    display: none;
  }

  #grid {
    margin-left: 25px;
    display: block;
    text-align: start;
    margin-bottom: 100px;
    background-color: rgb(0, 0, 0);
    transition: 0.3s;
  }

  #grid-item {
    cursor: pointer;
    height: 100px;
    width: 200px;
    background-repeat: no-repeat;
    margin-left: 0px;
  }

  #imagem-card {
    width: 100%;
  }


  #card-img {
    display: block;
    width: 90%;
    height: 100px;
    background-color: #cccccc;
  }

  #card-content {
    margin-top: -200px;
    display: block;
  }

  #card-header {
    font-size: 20px;
    text-align: left;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    margin-bottom: 1.5rem;
  }

  #card-text {
    display: none;

  }

  #card {
    margin-left: -25px;
    z-index: 1;
    color: #ffffff;
    height: 1000px;
    width: 470px;
  }

  #card-btn {
    display: block;
    width: 100%;
    padding: 1.5rem;
    text-align: center;
    background-color: #ffffff;
    border: none;

  }

  #div-imagem {
    height: 500px;
  }

  /*footer */
  footer {
    display: grid;
    text-align: center;
    border-top: solid 1px rgb(199, 199, 199);
  }

  #footer-item {
    width: 100%;
  }

  #bloco-footer {
    height: 500px;
  }
  #bloco {
    display: block;
  }
}


* {
  margin: 0px;
  padding: 0px;
}
a {
  text-decoration: none;
  color: black;
}

body {
  font-family: arial;
}

ul {
  list-style: none;
}

#linkSite {
  font-size: 17px;
  background-color: #000000;
  color: #ffffff;
  margin-top: -40px;
  text-decoration: none;
}
#testando {
  display: block;
  background-color: red;
  justify-content: center;
}
#bloco {
  width: 100%;
  color: hsl(0, 0%, 0%);
  display: flex;
  justify-content: center;
  justify-items: auto;
  text-align: justify;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#minhaImagem {
  animation: animacao;
  animation-duration: 2s;
}

#check {
  display: none;

}

.menu {
  width: 100%;
  height: 60px;
  float: right;
  position: fixed;
  z-index: 1;
  margin-top: 10px;
  background-color: #ffffffda;
}

#icone {
  float: right;
  cursor: pointer;
  padding: 15px;
  font-weight: 900;
  z-index: 1;
  background-color: #000000;
  color: #ffffff;
  margin-top: 7px;
}


.barra {
  background-color: #ffffffdc;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all .2s linear;
  left: -100%;
}

nav {
  width: 100%;
  position: absolute;
  top: 60px;

}

nav a {
  text-decoration: none;
  color: aliceblue;
}

.link {
  padding: 20px;
  text-align: center;
  font-family: 'Arial';
  font-size: 25px;
  font-weight: 900;
  top: 50px;
  position: relative;
  transition: all .2s linear;
  color: rgb(0, 0, 0);
  border-bottom: 2px solid #222;

}

.logotipo {
  background-color: #000000;
  color: #ffffff;
  width: 50px;
  height: 50px;
  text-align: center;
  font-weight: 900;
  font-size: 30px;
  position: absolute;
  transition: all 1s;


}

#logotipo:hover {
  -webkit-transform: rotateZ(360deg);
  transform: rotateZ(360deg);
}

#logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.name-usuario {
  font-weight: 900;
  font-size: 170%;
  margin-left: 55px;
}

#subtitulo-usuario {
  margin-left: 55px;
  letter-spacing: .1rem;
}

.link:hover {
  background-color: rgb(59, 59, 59);
  color: #c7c7c7;
}

#check:checked~.barra {
  transform: translateX(100%);
}


label {
  float: right;
  margin-right: 10px;

}

#blocoDeTexto {
  display: block;
  text-align: center;
  align-items: center;
  align-content: center;
  margin-top: 100px;
  font-size: 24px;
  width: 700px;
  padding: 30px;
  color: rgb(0, 0, 0);
}

p {
  margin-bottom: 20px;
}
#divMinhaImagem {
  display: flex;
  width: 100%;
  justify-content: center;
}

h1 {
  display: inline;
  font-family: "Helvetica Now Display DW", sans-serif;
  font-weight: 800;
  letter-spacing: -.01em;
  color: #0f141e;
}

h5 {
  display: inline;
  color: rgb(151, 140, 140);
  font-size: .875rem;
  font-weight: 100;
  letter-spacing: .2rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 15px;
  width: max-content;
}

#meuResumo {
  color: rgb(128, 125, 125);
  font-size: 1.375rem;
  line-height: 1.875rem;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 3px;
  display: flex;
  align-content: center;
  width: 100%;
}

#bloco2 {
  margin-top: 30px;
  height: 900px;
  text-align: center;
  width: 100%;
  justify-content: center;
  background-color: #f2f2f2;
}

#tituloProjetos {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}

#titulo {
  display: block;
  margin-left: 30px;
  margin-bottom: 100px;
  text-align: center;
}


#grid {
  display: inline-block;
  text-align: start;
  color: #ffffff;
  font-weight: 900;
  font-size: 20px;
  text-align: center;
  margin-bottom: 100px;
  transition: 0.3s;
}


#grid-item {
  cursor: pointer;
  height: 100px;
  width: 100%;
  background-repeat: no-repeat;
  margin-left: 0px;
}

#imagem-card {
  display: block;
  margin-top: -150px;
  background-color: #000000;

}

#imagem-card:hover {
  box-shadow: 0 1rem 9rem rgba(0, 0, 0, 0.5);
}

#card-img {
  display: block;
  width: 100%;
  height: 100px;
}

#card-content {
  margin-top: -30px;
  padding: 3rem;
}

#card-header {
  display: none;
  left: 60px;
  font-size: 20px;
  text-align: left;
  margin-left: 10px;
  margin-top: 10px;
  font-weight: 900;
  color: rgb(255, 255, 255);
  margin-bottom: 1.5rem;
}

#card-text {
  font-size: 16px;
  letter-spacing: 0.1rem;
  line-height: 1.7;
  color: rgb(255, 255, 255);
  margin-bottom: 2.5rem;

}

#card-btn {
  display: block;
  width: 100%;
  padding: 1.5rem;
  text-align: center;
  background-color: #ffffff;
  border: none;
  margin-top: 700px;

}

/* rodapé */

#bloco-footer {
  display: block;
}

footer {
  border-top: solid 1px rgb(199, 199, 199);
}

#footer-item {
  display: block;
  margin-top: 30px;
  width: 100%;
  text-align: center;
}


h3 {
  font-size: 25px;
  color: #000000;
  margin-bottom: 10px;
}

#footer-texto {
  color: rgb(92, 92, 92);
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 3px;
}

a {
  display: block;
}

a:hover {
  text-decoration: underline;
}

#footerCopyRight p {
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
}

#footerCopyRight {
  width: 100%;
  height: 60px;
  margin-bottom: 0px;
  float: inline-end;
  text-align: center;
  margin-top: 100px;
  color: #ffffff;
  background-color: black;
}

@media only screen and (min-width: 1000) {

  /* rodapé */

  #bloco-footer {
    display: block;
    width: 100%;

  }

  footer {
    width: 100%;
    border-top: solid 1px rgb(199, 199, 199);
  }

  #footer-item {
    margin-top: 30px;
    width: 30%;
    padding: 0;
    margin-left: 30px;
    margin-right: 50px;
    float: inline-start;
  }


  h3 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
  }

  #footer-texto {
    color: rgb(92, 92, 92);
    font-size: 1rem;
    line-height: 1.875rem;
    font-weight: 500;
    padding-top: 2px;
    padding-bottom: 3px;
  }

  a {
    display: block;
  }

  a:hover {
    text-decoration: underline;
  }

}