* {
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
}

.espaco {
  width: 110px;
  margin-left: 30px;
}

.amarelo {
  background-color: yellow;
  width: 150px;
  height: 25px;
  margin-top: 40px;
  display: inline-block;
  margin-left: 20px;
}

.bloco,
.bloco2,
.bloco3 {
  visibility: hidden;
}

.verde {
  background-color: green;
  width: 150px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: inline-block;

}

.roxo {
  background-color: purple;
  width: 180px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: inline-block;

}

.vermelho {
  background-color: red;
  width: 350px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: block;

}

.vertical {
  width: 150px;
  height: 150px;
  margin-left: 55px;
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 25px;
}

.vertical:hover {
  border-radius: 550px;
}

.codingStyle {
  margin-top: -617px;
  width: 700px;
}

.bloco {
  height: 683px;
  background-color: #ffffff;
}

a {
  text-decoration: none;
  margin-bottom: 5px;
}

body {
  font-family: arial;
}

.scroll img {
  position: fixed;
  background-color: #ffffff70;
  height: 50px;
  border-radius: 5px;
  animation: is-bouncing 1s ease-in-out alternate infinite;
  top: 550px;
  right: 30px;
  z-index: 1;
}

.scroll {
  margin-right: 100px;
  float: right;
  margin-top: -500px;
}

@keyframes is-bouncing {
  to {
    transform: translateY(30px);
  }
}

.iconeRedeSocial {
  height: 50px;
  display: inline;
  margin-bottom: -8px;

}

a p {
  display: inline;
}

.spam {
  color: #000144;
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

[data-anime] {
  opacity: 0;
  transition: 3s;

}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.line {
  font-weight: 900;
  color: purple;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-size: 80px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  text-shadow: -1px -1px 0px white,
    3px 3px 0px blue,
    6px 6px 0px black;
  animation: titleAnimation 4s;
}

@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}


@keyframes treme {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 5px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: -5px;
  }

  100% {
    margin-left: 0;
  }
}

.sup-bloco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
  background-color: purple;
}

.bloco2 p {
  display: block;
  align-items: center;
  text-align: center;
  color: purple;
}

.bloco2 {
  margin-top: -200px;
}

.line-down {
  font-weight: 700;
  color: yellow;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 130px;
  margin-top: -40px;
  width: max-content;
  text-shadow: -1px -1px 0px white,
    3px 3px 0px blue,
    6px 6px 0px black;
  animation: titleAnimationSub 4s;
}

@keyframes titleAnimationSub {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.bloco-links {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 10%;
}

.social-midia {
  height: 50px;
  display: inline-block;
}

.social-midia img {
  display: block;
  width: 50px;
}

/*.type-animation {
 animation: piscarCursor 500ms steps(49) infinite normal, typing 3s steps(25) 1s normal;

}
*/

@keyframes piscaPisca {
  0% {
    color: black;
  }

  10% {
    color: black;
  }

  15% {
    color: green;
  }

  20% {
    color: green;
  }

  25% {
    color: blue;
  }

  35% {
    color: blue;
  }

  40% {
    color: red;
  }

  45% {
    color: red;
  }

  50% {
    color: purple;
  }

  60% {
    color: purple;
  }

  75% {
    color: yellow;
  }

  85% {
    color: yellow;
  }

  90% {
    color: rgb(0, 128, 128);
  }

  99% {
    color: rgb(0, 128, 128);
  }

  100% {
    color: green;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 5.9em;
  }
}

@keyframes piscarCursor {
  from {
    border-right-color: purple;
  }

  to {
    border-right-color: transparent;
  }
}


ul {
  list-style: none;
}

/*cards*/
.bloco-cards {
  margin-bottom: 20px;
  margin-top: 20px;
}

#img-resume-file {
  width: 49px;
}

button {
  float: inline-end;
  margin-right: 80px;
  margin-top: -50px;
  width: 60px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: solid 1px rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: rgb(255, 254, 254);
  margin-left: 20px;
}

.img-card-button {
  height: 100%;
  width: 60px;
  display: inline-block;
}

a {
  text-decoration: none;
}

button a:link {
  text-decoration: none;
}

/* */
#testando {
  display: block;
  background-color: red;
  justify-content: center;
}

#bloco {
  color: hsl(0, 0%, 0%);
  display: flex;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

#minhaImagem {
  width: 458px;
  position: relative;
  margin-top: 54px;
  margin-left: -181px;
  animation: bouncing 1s ease-in-out alternate infinite;
}


@keyframes is-bouncing-image {
  to {
    transform: translateY(10px);
  }
}

#check {
  display: none;

}

.menu {
  width: 100%;
  height: 60px;
  float: right;
  position: fixed;
  margin-top: 10px;
  z-index: 2;

}

.menu-smartphone-sobre-mim {
  display: none;
  height: 1000;
  color: white;
  padding: 30px;
  background-color: purple;
}

.menu-smartphone-sobre-mim ul li p {
  width: 90%;
}

.menu-smartphone-sobre-mim ul li p img {
  float: left;
}

.menu-smartphone-sobre-mim p img {
  height: 40px;
  margin-right: 10px;
  float: left;
}


.menu-smartphone-sobre-mim ol p {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
}

.bloco-skills {
  margin-top: 50px;
}

.bloco-skills ol li {
  margin-top: 1px;
  font-size: 20px;
  margin-left: 30px;

}

.imagem-menu {
  height: 40px;
  margin-top: -11px;
}

#icone {
  float: right;
  cursor: pointer;
  padding: 15px;
  font-weight: 900;
  z-index: 1;
  color: black;
  margin-top: -27px;
}

.conteudo-Menu {
  float: left;
  margin-right: 5px;
  color: white;
}

.barra {
  background-color: #80008082;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all .2s linear;
  right: -100%;
  z-index: 1;
  backdrop-filter: blur(5px);
}

#baixar {
  cursor: pointer;
}

nav {
  width: 100%;
  position: absolute;
  top: 60px;

}

nav a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}

.link {
  padding: 20px;
  text-align: center;
  font-family: 'Arial';
  font-size: 25px;
  font-weight: 900;
  top: 50px;
  position: relative;
  transition: all .2s linear;
  color: rgb(255, 255, 255);
  border-bottom: 2px solid rgb(255, 255, 255);

}

.logotipo img {
  width: 60px;
  margin-right: 15px;
  margin-top: -6px;
}

.logotipo {
  font-weight: 900;
  position: absolute;
  transition: all 1s;

}

#logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.name-usuario {
  font-weight: 900;
  font-size: 136%;
  margin-left: 65px;
  color: rgb(0, 0, 0);
}

#subtitulo-usuario {
  font-weight: 800;
  margin-left: 65px;
  letter-spacing: .01rem;
  color: white;
}

.link:hover {
  background-color: rgb(255, 255, 255);
  color: purple;
}

#check:checked~.barra {
  transform: translateX(-100%);
}

#check2:checked~.barra {
  transform: translateX(-100%);
}

#label {
  margin-right: 0px;
  float: none;
}

label {
  float: right;
  margin-right: 10px;

}

#blocoDeTexto {
  display: inline-block;
  align-items: center;
  align-content: center;
  padding: 30px;
  color: white;
  width: 62%;
  margin-bottom: 4px;
  margin-top: 170px;
}

h5 {
  color: purple;
  font-size: .875rem;
  font-weight: 100;
  letter-spacing: .2rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 15px;
}

#titulo-marcado {
  color: #ec0b0b;
  text-shadow: 5px 5px 5px #978686;
}

.meuResumo {
  display: flex;
  align-content: center;
  font-size: 15px;
  font-weight: 200;
  letter-spacing: .2rem;
  font-weight: 500;
  text-align: justify;
  color: purple;
}

#bloco2 {
  height: 100%;
  text-align: center;
  justify-content: center;
  background-color: white;
  margin-left: 10px;
  margin-right: 10px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bloco3 {
  margin-top: 100px;
}

#tituloProjetos {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  color: rgb(247, 6, 247);
}

#titulo {
  display: block;
  margin-left: 30px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 800;
  color: rgb(255, 255, 255);
  padding: 30px;
}

/* rodapé */

#bloco-footer {
  display: block;
  background: yellow;
  height: 200px;
}

footer {
  border-top: solid 1px rgb(199, 199, 199);
}

#footer-item {
  display: block;
  margin-top: 30px;
  width: 100%;
  text-align: center;
  color: #252525;
  ;
}


h3 {
  font-size: 25px;
  color: #2b2b2b;
  ;
  margin-bottom: 10px;
}

#footer-texto {
  color: #2e2e2e;
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 500;
  padding-top: 2px;
  padding-bottom: 3px;
}

#footerCopyRight p {
  text-align: center;
  margin-top: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: 600;
}

#footerCopyRight {
  width: 100%;
  height: 60px;
  margin-bottom: 0px;
  float: inline-end;
  text-align: center;
  margin-top: 50px;
  color: #000000;
}

#blocoSkils h1 {
  display: block;
  margin-bottom: 10px;
}

#blocoSkils {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 11px 1px;

}

.imagemSkils {
  display: inline-block;
  text-align: center;
  align-content: center;
  height: 60px;
}

.imagemSkils:hover {
  -webkit-transform: scale(2.1);
  transform: scale(1.1);
}

.skils {
  width: 480px;
  height: 240px;
  background-color: #f0f0f0;
  color: purple;
  border-radius: 15px;
  box-shadow: 1px 2px 11px black;

}

.skils h1 {
  color: purple;
  margin-top: 2px;
}

#html {
  margin-top: 50px;
}

#html p {
  font-size: 20px;
  text-align: justify;
  width: 80%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#css {
  margin-top: 50px;
}

#css p {
  font-size: 20px;
  text-align: justify;
  width: 85%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#javascript {
  margin-top: 50px;
}

#javascript p {
  font-size: 20px;
  text-align: justify;
  width: 90%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#react {
  margin-top: 50px;
}

#react p {
  font-size: 20px;
  text-align: justify;
  width: 85%;
  justify-content: space-between;
  display: inline flow-root list-item;
}

.resumo-das-skils {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titulo-das-skils {
  height: 100px;
  display: block;
  text-align: center;
}


.titulo-das-skils div {
  width: 100%;
  height: 10px;
  margin-top: 50px;
  float: inline-end;
}

.titulo-das-skils h6 {
  width: 100%;
  height: 100%;
  color: purple;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-top: 70px;
  border-top: 20px solid purple;
  margin-left: 71px;
  animation: bouncing 1s ease-in-out alternate infinite;
}

@keyframes bouncing {
  to {
    transform: translateY(10px);
  }
}

h6 {
  font-size: 25px;
  margin-top: 4px;
}

.titulo-nome-bloco1 {
  padding: auto;
}

#portifolio {
  display: inline-block;
  justify-content: center;
  color: #ffffff;
  font-weight: 900;
  background-color: black;
  width: 175px;
  border-radius: 5px;
  height: 43px;
  font-weight: 200;

}

.linha {
  border-top: solid 1px black;
  margin-top: -18px;
}

#bubble {
  margin-top: -20px;
  margin-bottom: 20px;
}

.bubble {
  background-color: yellow;
  border: 2px solid yellow;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font: 16px/24px sans-serif;
  padding: 12px 24px;
  position: relative;
}

.bubble.active:after,
.bubble.active:before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid yellow;
  bottom: -15px;
  content: '';
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

.bubble.active:before {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid;
  border-top-color: inherit;
  bottom: -18px;
  margin-left: -18px;
}

#portifolio div {
  margin-top: 3px;
}

/*container*/
.container {
  height: 550px;
  width: 470px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.container:hover {
  background-color: rgb(226, 164, 255);
}

.verProjeto {
  color: white;
  font-size: 20px;
  font-weight: 800;

}

#seta {
  float: right;
  padding: 8px;
  margin-top: -23px;
  margin-right: 80px;
  box-shadow: 4px -4px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 4px 4px;
  transform: rotate(-140deg);
}

a {
  color: #000000;
}

.ifem {
  width: 69%;
  background-color: #a09f9f;
  height: 1px;
  display: inline-block;
  margin-bottom: 4px;
}

.circulo {
  margin-top: 30px;

}

.verde {
  background-color: yellowgreen;
}



.amarelo {
  background-color: yellow;
}

.vermelho {
  background-color: red;
}

#verde-piscar {
  animation: piscar 500ms linear infinite;
}

#amarelo-piscar {
  animation: piscar 700ms infinite;
}

#vermelho-piscar {
  animation: piscar 900ms infinite;

}

@keyframes piscar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.circulo {
  border: solid 1px rgb(112, 112, 112);
  width: 10px;
  height: 10px;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.container:hover {
  transition: 50ms;
  color: #5a5252;
}

.container-titulo {
  width: 100%;
  color: purple;
  height: 6%;
  justify-content: center;
  text-align: center;
}

.container-titulo h5 {
  color: purple;
  font-weight: 900;
}

.titulo-container {
  display: block;
  margin-top: 20px;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.container-imagem {
  height: 80%;
  width: 99, 9%;

}

.container-imagem img {
  width: 100%;
  height: 100%;

}

.container-imagem img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.07);
}

.container-link {
  display: none;
  justify-content: center;
  width: 100%;
}

.container-link a {
  font-size: 20px;
  width: 50%;
  color: #ffffff;
}


.botao-left {
  height: 100%;
  width: 10%;
  float: left;
}

.botao-right {
  height: 100%;
  width: 10%;
  float: right;
}

.conteudo-central {
  height: 100%;
  display: inline-block;
}

.botao-left button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff00;

}

.botao-right button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff00;
}

button img {
  width: 100%;
}

.conteudo-1 {
  height: 100%;
  width: 100%;
}

.conteudo-2 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 97, 241);
}

.conteudo-3 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 230, 0);
}

.diagonal-box {
  transform: skewY(-2deg);
  z-index: -1;
  overflow: hidden;
}

.container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  position: relative;
  align-content: center;
  background: linear-gradient(0deg, purple, 0%, purple 50%, #fff 50%, #fff 100%);
  transform-style: preserve-3d;
  margin-top: 100px;
}

.container-2 .card-2 {
  position: relative;
  width: 140px;
  height: 240px;
  background-color: #fff;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 5px 15px #000000;
  transition: 0.5s;
  overflow: hidden;
  transform-style: preserve-3d;
  z-index: 0;
  cursor: pointer;
}

.container-2 .card-2 h1 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 3em;
  background: purple;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  transition: box-shadow 0.5s;
  margin-top: 10px;
}

.container-2 .card-2:hover h1 {
  background: #fff;
  color: #000000;
  box-shadow: 0 0 0 150px purple;
}

.fita-centralizada {
  margin-left: 90px;
}

.fita {
  background: rgb(0, 0, 0);
  position: relative;
  justify-content: center;
  /*display: inline-block;*/
  color: rgb(255, 240, 240);
  line-height: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 8px rgb(126, 126, 126);
}

.fita:before,
.fita:after {
  content: '';
  line-height: 0;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  top: 10px;
  z-index: -2000;
  width: 5px;
}

.fita:before {
  border-color: #0c0c0c #0c0c0c #0c0c0c transparent;
  left: -35px;
}

.fita:after {
  border-color: #0c0c0c transparent #0c0c0c #0c0c0c;
  right: -35px;
}

.conteudo:before,
.conteudo:after {
  position: absolute;
  content: '';
  height: 0;
  line-height: 1px;
  border-style: solid;
  border-width: 5px;
  z-index: -1999;
}

.conteudo:before {
  border-color: #616161 #616161 transparent transparent;
  bottom: -10px;
  left: 0;
}

.conteudo:after {
  border-color: #616161 transparent transparent #616161;
  bottom: -10px;
  right: 0;
}

.sobre {
  height: 607px;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 100px;
}

.cont1 {
  display: inline-block;
  width: 33.3%;
}

.icones-objetivos {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

.selecionadores {
  height: 100%;
}

.selecionadores ul {
  text-align: center;
  height: 100%;
}

.selecionadores ul li {
  justify-content: center;
  display: block;
  height: 150px;
  border-bottom: solid 2px purple;
  color: rgb(248, 248, 248);
}

.selecionadores ul li:hover {
  background-color: purple;
}

.selecionadores ul li a {
  display: block;
  padding: 60px;
  font-size: 20px;
  font-weight: 700;
  color: purple;
}

.selecionadores ul li a:hover {
  color: rgb(255, 254, 254);
}

.conteudo-sobre {
  padding: 24px;
}

.conteudo-principal-sobre ul li p {
  margin-top: 5px;
  font-size: 19px;
  font-family: 'Times New Roman', Times, serif;
  text-align: justify;
  color: purple;
}

.conteudo-principal-sobre ul li h1 {
  color: purple;
  font-size: 49px;
  font-weight: 900;
}

.conteudo-principal-sobre ol {
  list-style-type: disc;
  color: purple;
  font-size: 30px;
  margin-left: 10px;
}

.minha-formacao ol {
  padding: 10px;
  border-left: 2px rgb(255, 255, 255) solid;
}

.habilidade-ol {
  padding: 30px;
}

.habilidade-sobre-mim ul li {
  margin-left: 50px;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 500;
  color: #ffffff;
}

.habilidade-sobre-mim ul {
  background-color: #000000;
}

#avatar1 {
  margin-left: -50px;
}

#avatar3 {
  margin-left: -50px;
}

#avatar4 {
  margin-left: -50px;
}

.habilidade-img {
  margin-top: -620px;
  margin-left: 290px;
  display: none;
}

.habilidade-img img {
  height: 70px;
  margin-left: 50px;
  display: block;
  margin-top: 10px;
}

.imagem-fundo {
  display: inline-block;
  margin-top: 100px;

}

/*
.imagem-fundo {
  -webkit-transform: skew(-16deg) translateX(-70px);
  -ms-transform: skew(-16deg) translateX(-70px);
  transform: skew(-16deg) translateX(-70px);

}*/

.fita-horizontal {
  width: 50px;
  margin-left: 45px;
  background-color: purple;
  -webkit-transform: skew(-16deg) translateX(-70px);
  -ms-transform: skew(-16deg) translateX(-70px);
  transform: skew(-4deg) translateX(-70px);
}

.shadow-avatar-sltyle {
  background-color: purple;
  width: 200px;
  height: 50px;
  border-radius: 45%;
  margin-left: 80px;
  margin-top: -50px;
}

#shadow-avatar2 {
  margin-top: -24px;
  margin-left: 111px;
}

#shadow-avatar3 {
  margin-top: -136px;
  margin-left: 72px;
  height: 78px;
  width: 272px;
}

.ajustar-bacgraund {
  background-color: #ffffff;
}

@keyframes animacao {
  from {}

  to {}
}

.fita-centralizada {
  width: 50%;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.imagem-Smartphone {
  display: none;
}

.bloco-cards-2 {
  display: none;
}


/*cards*/
.bloco-cards {
  display: flex;
}

.fita {
  width: 400px;
}

.meuResumo {
  width: 800px;
}

.resume-file {
  float: inline-end;
  margin-top: -50px;
}

.container-main {
  height: 500px;
  white-space: nowrap;
  display: flex;
  margin-top: 50px;

}

.container-card {
  width: 100%;
  height: 100%;
  display: contents;
}

.container-image {
  display: inline-block;
  width: 50%;
  margin-left: 0;

}

.container-image img {
  display: inline-block;
}

.imagem-pc {
  height: 350px;
  margin-top: 50px;
}

.imagem-cell {
  width: 151px;
  margin-left: -150px;
  margin-bottom: -5px;
}

.container-description {
  width: 40%;
  display: inline-block;
  height: 100%;
  margin-left: 0;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: -50px;
}

.container-description h1 {
  width: 100%;
  font-size: 40px;
  text-align: start;
  color: purple;
}


.container-description p {
  font-size: 16px;
  text-align: left;
  display: block;
  white-space: break-spaces;
  margin-top: 30px;
}

.container-description a {
  display: inline-block;
}

.link-acess {
  display: block;
  text-align: initial;
}

.proj2 img {
  display: block;
  width: 50px;
  margin-top: 20px;
}

.button-link {
  background: purple;
  width: 100px;
  text-align: center;
  height: 17px;
  color: white;
  font-size: 15px;
  border-radius: 20px;
  font-weight: 800;
  padding: 10px;
  box-shadow: 1px 39px 18px -10px purple;
}

.button-link:hover {
  color: yellow;
}

.resumo-container {
  width: 80%;
}

.number-project {
  width: 25px;
  background: purple;
  height: 24px;
  padding: 3px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-left: 36px;
}

.container-skills {
  height: 700px;
  display: flex;
}

.container-left {
  width: 600px;
  background: white;
  height: 550px;
  margin-left: 100px;
  border-radius: 20px;
  display: inline-block;
  margin-top: 100px;
  border: solid 1px silver;
  box-shadow: -22px 27px 20px -8px purple;
}

.box-shadow {
  box-shadow: 27px 27px 20px -8px purple;
}

.container-right-title {
  width: 40%;
  height: 550px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

.container-right-title h1 {
  width: 100px;
  margin-top: 164px;
  display: block;
  margin-left: 30%;
  color: purple;
  font-size: 40px;
}

#circulos {
  display: inline-block;
}

table {
  width: 90%;
  height: 400px;
  margin-left: 50px;
  margin-top: 30px;
}

table tr td {
  padding: 5px 39px;

}

table tr td img {
  width: 65px;
  background: #8000804d;
}

.texto {
  padding: 63px;
  color: purple;
  font-size: 21px;
}

.texto-formacao {
  color: purple;
  margin-top: -100px;
  padding: 60px;
}

.texto-formacao h1 {
  margin-bottom: 10px;
}

.contate-me {
  height: 500px;
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.contate-me h6 {
  margin-top: -30px;
  margin-bottom: 10px;
  text-align: center;
  color: yellow;
}

.contate-me h1 {
  text-align: center;
  color: white;
}

form {
  width: 500px;
  margin-left: 50px;
}

input[type=text],
[type=email],[type=name],
textarea, .input {
  display: block;
  width: 100%;
  height: 40px;
  margin-bottom: 20px;
  padding: 5px;
  font-size: 18px;
}

textarea {
  height: 100px;
}

#button-enviar {
  display: block;
  width: 350px;
  height: 40px;
  background: yellow;
  margin-top: 10px;
  border-radius: 20px;
  font-size: 19px;
  border: solid 4px purple;
color: purple;
}



@media only screen and (max-width: 1300px) {
  .container-title {
    color: purple;
    font-size: 16px;
  }

  .menu-smartphone-sobre-mim {
    display: block;
  }

  .imagem-pc {
    height: 360px;
  }

}

@media only screen and (max-width: 1200px) {
  .imagem-pc {
    height: 300px;
  }

  .imagem-fundo {
    display: none;
  }

  #divMinhaImagem {
    display: none;
  }

  #minhaImagem {
    left: 300px;
    display: none;
  }

  .imagem-Smartphone {
    display: block;
    width: 400px;
  }

  #minhaImagem {
    display: none;
  }

  .bloco-cards {
    display: none;
  }

  .bloco-cards-2 {
    display: flex;
    margin-left: 30px;
    justify-content: center;
    height: 100px;
  }

  #cards2 {
    color: white;
    border: SOLID 2PX purple;
  }

  .centraliza-Imagem-Smartphone {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .imagem-cell {
    width: 125px;
    margin-left: -126px;
    margin-bottom: -5px;
  }
}

@media only screen and (max-width: 1000px) {

  .imagem-pc {
    height: 270px;
  }

  .container-description p {
    font-size: 13px;
  }

  .container-title {
    color: purple;
    font-size: 15px;
  }


  .fita-centralizada {
    width: 70%;
  }

  h3 {
    font-size: 25px;
    color: #000000;
    margin-bottom: 10px;
  }

}

@media only screen and (max-width: 948px) {
  .imagem-pc {
    height: 260px;
  }

  .imagem-cell {
    width: 128px;
    margin-left: -115px;
  }

  #line {
    font-size: 55px;
    height: 96px;
  }

  #line-down {
    font-size: 75px;
  }

  #blocoDeTexto {
    display: block;
  }

  p {
    display: block;
  }

  .logotipo {
    font-size: small;

  }


  .menu {
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  #meuResumo {
    margin-right: 10%;
    width: 450px;
  }


  /**/


  #bloco2 {
    display: block;
    height: max-content;

  }


  #tituloProjetos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #titulo {
    margin-left: 30px;
    margin-bottom: 50px;
  }

  /*footer */


}

@media only screen and (max-width: 888px) {
  .container-skills {
    height: 100%;
    display: block;
  }

  .imagem-pc {
    height: 200px;
  }

  .imagem-cell {
    width: 103px;
    margin-left: -115px;
  }

  .contate-me {
    height: 500px;
    background-color: purple;
    display: block;
  }
  form {
    width: 600px;
    margin-left: 15%;
  }
  .contate-me h6 {
    margin-top: 0px;
    display: block;
    padding: 10px;
  }
  #button-enviar {
    display: block;
    width: 450px;}

  .contate-me h1 {
    display: block;
    padding: 19px;
  }

  .contate-me {
    height: 550px;
    background-color: purple;
    display: block;
  }
}


@media only screen and (max-width: 678px) {
  .contate-me h6 {
    margin-top: 0px;
    display: block;
    padding: 10px;
  }
  #button-enviar {
    display: block;
    width: 250px;}

  .contate-me h1 {
    display: block;
    padding: 19px;
  }

  .contate-me {
    height: 550px;
    background-color: purple;
    display: block;
  }

  form {
    width: 400px;
    margin-left: 20%;
  }

  .container-left {
    width: 500px;
    margin-left: 40px;
  }

  .ifem {
    width: 60%;
  }

  table {
    width: 100%;
    height: 500px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .imagem-pc {
    height: 200px;
  }

  .imagem-cell {
    width: 128px;
    margin-left: -115px;
  }

  .line {
    font-size: 40px;
  }

  .meuResumo {
    width: 500px;
  }

  #bloco2 {
    display: block;
    text-align: center;
    height: max-content;
    margin-left: 0px;
    margin-right: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  .container-main {
    height: 396px;
    white-space: nowrap;
    display: table;
    border-bottom: solid 50px white;
  }

  .container-title {
    color: purple;
    font-size: 15px;
  }

  .container-title {
    display: block;
    width: 100%;
    height: 100%;
    color: purple;
    margin-top: 50px;
    font-size: 20px;
  }

  .container-image {
    display: contents;
  }

  .imagem-pc {
    height: 200px;
  }

  .imagem-cell {
    width: 92px;
    margin-left: -88px;
    height: 165px;
    margin-top: -27px;
  }

  .container-description {
    width: 90%;
    line-height: 13px;
    text-align: start;
    margin-left: 24px;
    margin-top: 22px;
    display: block;
  }

  .container-description h2 {
    width: 100%;
    font-size: 21px;
    color: purple;
    font-weight: 700;
  }

}

@media only screen and (max-width: 550px) {
  table tr td {
    padding: 1px 39px;
  }
  .contate-me {
    height: 550px;
  }

  form {
    width: 400px;
    margin-left: 10%;
  }

  .container-right-title {
    width: 40%;
    height: 0px;
  }

  .texto {
    padding: 49px;
    font-size: 16px;
  }
  .texto-formacao {
    color: purple;
    margin-top: -60px;
    padding: 30px;
  }
  .texto-formacao h1{display: none;}
  input[type=text], [type=email], [type=name], textarea, .input {
    display: block;
  
  }
  
  .container-left {
    width: 434px;
    margin-left: 30px;
    height: 450px;
  }

  .ifem {
    width: 60%;
  }

  table {
    width: 100%;
    height: 394px;
    margin-left: 0px;
    margin-top: 0px;
  }

  .line {
    font-size: 35px;
    height: 60px;
  }

  .fita {
    width: 300px;
  }

  #bloco {
    color: hsl(0, 0%, 0%);
    display: block;
  }

  .meuResumo {
    width: 430px;
  }

  .bloco-links {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
    text-align: initial;
    margin-top: 150px;
    margin-bottom: -400px;
    margin-left: 30px;
    height: 100%;
    width: 80%;
    text-align: center;
  }

  .social-midia img {
    display: block;
    width: 54px;
  }

  #blocoDeTexto {
    margin-top: -27px;
  }

  #line {
    font-size: 45px;
    height: 67px;
  }
}

@media only screen and (max-width: 500px) {

  .container-imagem {
    height: 70%;
    width: 99%;
  }

  #line {
    font-size: 45px;
    height: 67px;
  }

  #line-down {
    font-size: 60px;
  }

  .imagem-Smartphone {
    display: block;
    width: 370px;
  }

  h1 {
    font-size: 30px;
  }

  .line-down {
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 70px;
    margin-top: -30px;
    display: block;
    width: 150%;
    text-align: center;
  }

  .line {
    font-weight: 900;
    color: purple;
    border-right: solid 2px purple;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-size: 110px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    height: 150px;
    font-size: 70px;
    width: max-content;

  }

  .container {
    width: 335px;
    display: inline-block;
    margin-bottom: 10px;
    margin-right: 15px;
    border-radius: 25px;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0 0 0);
    height: 390px;
  }

  .skils {
    width: 334px;
    height: 218px;
    background-color: #f0f0f0;
    color: purple;
    border-radius: 15px;
    box-shadow: 1px 2px 11px black;
    font-size: 10px;
  }

  #javascript p {
    font-size: 14px;
  }

  #css p {
    font-size: 16px;
  }

  #html p {
    font-size: 16px;
  }

  .arrow-down {
    display: none;
  }

  .container-2 .card-2 {
    position: relative;
    width: 100px;
    height: 175px;
    background-color: #fff;
    margin: 0 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 0 5px 15px #000000;
    transition: 0.5s;
    overflow: hidden;
    transform-style: preserve-3d;
    z-index: 0;
    cursor: pointer;
  }

  #blocoDeTexto {
    margin-top: 5px;
    display: block;
    align-items: center;
    align-content: center;
    color: rgb(102, 95, 95);
  }

  body {
    display: block;
    width: 500px;
  }

  .scroll {
    display: block;
  }

  .scroll img {
    position: fixed;
    height: 50px;
    float: right;
  }

  p {
    display: block;
    font-size: 13px;
  }

  .logotipo {
    font-size: small;

  }

  #tituloProjetos {
    margin-bottom: -50px;
    display: block;
  }

  .menu {
    width: 100%;
    position: fixed;
    z-index: 2;
  }

  .imagem-Smartphone {
    display: block;
    margin-top: -100px;
  }

  #minhaImagem {
    display: none;
    margin-bottom: 50px;
    left: 300px;
  }

  #titulo {
    margin-top: 50px;
  }

  .bloco-cards {
    display: none;
  }

  .bloco-cards-2 {
    display: block;
    margin-left: 30px;
    margin-bottom: 73px;

  }

  #meuResumo {
    text-align: center;
    width: 137%;
    margin-top: 30px;
  }

  #img-resume-file {
    width: 54px;
    margin-bottom: -5px;
  }

  h3 {
    font-size: 18px;
  }

  #footer-texto {
    color: #2e2e2e;
    font-size: 13px;
  }

  #blocoDeTexto {
    text-align: justify;
  }


  label {
    margin-left: -20px;
  }

  .name-usuario {
    font-weight: 800;
    width: 100px;
    font-size: 20px;
  }

  /**/

  #bloco2 {
    display: block;
    text-align: center;
    height: max-content;
    margin-left: 0px;
    margin-right: 0px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
  }

  #tituloProjetos {
    text-align: center;
    margin-top: 34px;
    margin-bottom: 20px;
    display: inline-block;
  }

  #titulo {
    margin-left: 30px;
    margin-bottom: 50px;
    margin-top: -25px;
  }

  #subtitulo-usuario {
    display: none;
  }

  /*footer */
  footer {
    display: grid;
    text-align: center;
    border-top: solid 1px rgb(199, 199, 199);
  }

  #footer-item {
    width: 100%;
  }


  #bloco {
    display: block;
  }

  .grid-container {
    display: block;
    align-items: center;
    justify-content: center;
  }
}