* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Anton", sans-serif;
  vertical-align: baseline;
}
.container-pg {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1500px;
}

.logo {
  width: 200px;
  margin-top: -55px;
  margin-left: 30px;
}

.logo-contacts {
  width: 100px;
}
.logo-rodape {
  width: 200px;
  height: 200px;
}

.icon-list {
  display: inline-block;
  width: 40px;
  padding: 60px 15px 22px;
}
.icon-list:hover {
  -moz-transform: scale(1);
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}
.copy-list {
  padding: 30px 0px;
}

.rodape {
  width: 100%;
  height: 150px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 3rem 0rem;
}
.footer-contacts {
  display: flex;
}
.footer-contacts h1,
h2,
h3 {
  display: inline-block;
  font-size: 25px;
  color: #0f141e;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
}
.logo-contacts {
  margin: 30px;
  color: #0f141e;
  font-weight: 800;
  font-size: 35px;
  width: 100%;
}
.footer-list h1 {
  color: #0f141e;
  font-weight: 800;
  font-size: 25px;
  width: 100%;
  padding: 30px 0px;
}
ul li {
  color: #0f141e;
  font-size: 0.975rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  padding-top: 5px;
  padding-bottom: 15px;
}
ul li:Hover{
  font-weight: 800;
  cursor: pointer;
}

.espaco {
  width: 110px;
  margin-left: 30px;
  display: inline-block;
}

.list-itens {
  display: none;
  padding: 22px;
  margin-right: 40px;
}

.sobre-mim-h1 {
  color: white;
  padding: 62px;
  margin-bottom: -105px;
}

.amarelo {
  background-color: black;
  width: 150px;
  height: 25px;
  margin-top: 40px;
  display: inline-block;
  margin-left: 20px;
}

.verde {
  background-color: black;
  width: 150px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: inline-block;
}

.roxo {
  background-color: purple;
  width: 180px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: inline-block;
}

.vermelho {
  background-color: black;
  width: 350px;
  height: 25px;
  margin-left: 20px;
  margin-top: 40px;
  display: block;
}

.vertical {
  width: 150px;
  height: 150px;
  margin-left: 55px;
  display: inline-block;
  border-radius: 15px;
  margin-bottom: 25px;
}

#icone {
  display: blco;
}

.list-itens li {
  display: inline-block;
  width: 130px;
  text-align: center;
  color: #0f141e;
  padding: 10px;
  font-size: 20px;
  font-weight: 200;
  cursor: pointer;
}
.list-itens li:hover {
  color: #986dff;
  animation: borderFuncion 4s infinite;
}
@keyframes borderFuncion {
  from {
    border-width: 0%;
    border-bottom: 1px solid #986dff;
  }
  to {
    border-width: 100%;
    border-bottom: 1px solid #986dff;
  }
}
#contato {
  border-bottom: solid 2px purple;
  border-radius: 15px;
  background-color: purple;
  color: #0f141e;
  border: solid 2px white;
  width: 150px;
}

#contato:hover {
  background-color: purple;
  color: #0f141e;
}
#minhaImagem {
  margin-top: 70px;
}

.vertical:hover {
  border-radius: 550px;
}

.codingStyle {
  margin-top: -617px;
  width: 700px;
}

.bloco {
  height: 700px;
}

a {
  text-decoration: none;
  margin-bottom: 5px;
}

body {
  color: #0f141e;
}

.scroll img {
  position: fixed;
  background-color: #ffffff70;
  height: 50px;
  border-radius: 5px;
  animation: is-bouncing 1s ease-in-out alternate infinite;
  top: 550px;
  right: 30px;
  z-index: 1;
}

.scroll {
  margin-right: 100px;
  float: right;
  margin-top: -500px;
}

@keyframes is-bouncing {
  to {
    transform: translateY(30px);
  }
}

.iconeRedeSocial {
  height: 50px;
  display: inline;
  margin-bottom: -8px;
}

a p {
  display: inline;
}

.spam {
  color: #000144;
  font-size: 25px;
  display: inline-block;
  margin-left: 10px;
}

[data-anime] {
  opacity: 0;
  transition: 3s;
}

[data-anime="left"] {
  transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {
  transform: translate3d(50px, 0, 0);
}

[data-anime].animate {
  opacity: 1;
  transform: translate3d(0px, 0px, 0px);
}

.line {
  font-family: "Helvetica Now Display DW", sans-serif;
  letter-spacing: -0.01em;
  color: #0f141e;
  font-size: 4.4em;
}

strong {
  font-weight: 900;
}
@keyframes titleAnimation {
  from {
    opacity: 0;
    transform: translate3d(-50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

@keyframes treme {
  0% {
    margin-left: 0;
  }

  25% {
    margin-left: 5px;
  }

  50% {
    margin-left: 0;
  }

  75% {
    margin-left: -5px;
  }

  100% {
    margin-left: 0;
  }
}

.sup-bloco {
  display: block;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
  background-color: #111;
}

.bloco2 p {
  display: block;
  align-items: center;
  text-align: center;
  color: purple;
}

.line-down {
  font-weight: 700;
  color: white;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  font-size: 130px;
  margin-top: -40px;
  width: max-content;
  text-shadow: -1px -1px 0px white, 3px 3px 0px blue, 6px 6px 0px black;
}

@keyframes titleAnimationSub {
  from {
    opacity: 0;
    transform: translate3d(50px, 0, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
  }
}

.bloco-links {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  padding: 4.5rem 0.5rem;
}
div.social-midia {
  text-align: center;
}

.social-midia {
  display: inline-block;
  width: 170px;
  background: #0f141e;
  padding: 15px 10px;
  font-size: 20px;
  border-radius: 2px;
  font-weight: 100;
  color: white;
}
.social-midia:hover {
  background: #111721dc;
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(1.02);
}
@keyframes largo {
  from {
    width: 170px;
  }
  to {
    width: 175px;
  }
}

.social-midia img {
  width: 70px;
}

/*.type-animation {
 animation: piscarCursor 500ms steps(49) infinite normal, typing 3s steps(25) 1s normal;

}
*/

@keyframes piscaPisca {
  0% {
    color: black;
  }

  10% {
    color: black;
  }

  15% {
    color: green;
  }

  20% {
    color: green;
  }

  25% {
    color: blue;
  }

  35% {
    color: blue;
  }

  40% {
    color: red;
  }

  45% {
    color: red;
  }

  50% {
    color: purple;
  }

  60% {
    color: purple;
  }

  75% {
    color: yellow;
  }

  85% {
    color: yellow;
  }

  90% {
    color: rgb(0, 128, 128);
  }

  99% {
    color: rgb(0, 128, 128);
  }

  100% {
    color: green;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 5.9em;
  }
}

@keyframes piscarCursor {
  from {
    border-right-color: purple;
  }

  to {
    border-right-color: transparent;
  }
}

ul {
  list-style: none;
}

#img-resume-file {
  width: 49px;
}

button {
  float: inline-end;
  margin-right: 80px;
  margin-top: -50px;
  width: 60px;
  border: none;
  border-bottom-color: currentcolor;
  border-bottom-style: none;
  border-bottom-width: medium;
  border-bottom: solid 1px rgb(255, 255, 255);
  text-align: center;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-weight: 600;
  color: rgb(255, 254, 254);
  margin-left: 20px;
}

.img-card-button {
  height: 100%;
  width: 60px;
  display: inline-block;
}

a {
  text-decoration: none;
}

button a:link {
  text-decoration: none;
}

/* */
#testando {
  display: block;

  justify-content: center;
}

#bloco {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  padding: 0 2.3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@keyframes is-bouncing-image {
  to {
    transform: translateY(10px);
  }
}

#check {
  display: none;
}

.menu {
  width: 100%;
  height: 60px;
  display: flex;
  position: absolute;
  z-index: 2;
  justify-content: space-between;
}

.menu-smartphone-sobre-mim {
  display: none;
  height: 1000;
  color: white;
  padding: 30px;
  background-color: purple;
}

.menu-smartphone-sobre-mim ul li p {
  width: 90%;
}

.menu-smartphone-sobre-mim ul li p img {
  float: left;
}

.menu-smartphone-sobre-mim p img {
  height: 40px;
  margin-right: 10px;
  float: left;
}

.menu-smartphone-sobre-mim ol p {
  width: 90%;
  margin-left: 30px;
  margin-top: 20px;
}

.bloco-skills {
  margin-top: 50px;
}

.bloco-skills ol li {
  margin-top: 1px;
  font-size: 20px;
  margin-left: 30px;
}

.imagem-menu {
  height: 40px;
}

#icone {
  cursor: pointer;
  padding: 15px;
  font-weight: 900;
  z-index: 1;
  color: black;
}

.conteudo-Menu {
  display: none;
  color: white;
  text-align: center;
}

.barra {
  background: #0f141ec0;
  height: 100%;
  width: 100%;
  position: fixed;
  transition: all 0.2s linear;
  right: -100%;
  z-index: 1;
  backdrop-filter: blur(5px);
}

#baixar {
  cursor: pointer;
}

nav {
  width: 100%;
  position: absolute;
  top: 60px;
}

nav a {
  text-decoration: none;
  color: rgb(5, 5, 5);
}

.link {
  padding: 20px;
  text-align: center;
  font-family: "Arial";
  font-size: 25px;
  font-weight: 900;
  top: 50px;
  position: relative;
  transition: all 0.2s linear;
  color: rgb(255, 255, 255);
}

.logotipo img {
  width: 60px;
  margin-right: 15px;
  margin-top: -6px;
}

.logotipo {
  font-weight: 900;
  position: absolute;
  transition: all 1s;
}

#logo {
  display: inline-block;
  margin-left: 20px;
  margin-top: 5px;
}

.name-usuario {
  font-weight: 900;
  font-size: 136%;
  margin-left: 65px;
  color: rgb(0, 0, 0);
}

#subtitulo-usuario {
  font-weight: 800;
  margin-left: 65px;
  letter-spacing: 0.01rem;
  color: white;
}

.link:hover {
  background-color: rgb(255, 255, 255);
  color: #0f141e;
}

#check:checked ~ .barra {
  transform: translateX(-100%);
}

#check2:checked ~ .barra {
  transform: translateX(-100%);
}

#label {
  margin-right: 0px;
  float: none;
}

label {
  float: right;
  margin-right: 10px;
}

#blocoDeTexto {
  display: inline-block;
  align-items: center;
  align-content: center;
  padding: 0px 100px;
  color: white;
  margin-bottom: 4px;
  margin-top: 170px;
  width: 90%;
}
h5 {
  color: #878a8f;
  font-size: 0.875rem;
  font-weight: 100;
  letter-spacing: 0.2rem;
  line-height: 1.25rem;
  text-transform: uppercase;
  padding-top: 5px;
  padding-bottom: 15px;
}

#titulo-marcado {
  color: #ec0b0b;
  text-shadow: 5px 5px 5px #978686;
}

.meuResumo {
  display: flex;
  align-content: center;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 0.09rem;
  font-weight: 500;
  text-align: justify;
  color: #878a8f;
}

#bloco2 {
  height: 100%;
  text-align: center;
  justify-content: center;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.bloco3 {
  margin-top: 100px;
}

#tituloProjetos {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  font-size: 20px;
}

#titulo {
  display: none;
  margin-left: 30px;
  margin-bottom: 100px;
  text-align: center;
  font-weight: 900;
  color: rgb(255, 255, 255);
  padding: 30px;
  font-size: 40px;
  text-shadow: -1px -1px 0px white, 3px 3px 0px blue, 6px 6px 0px black;
}

/* rodapé */

.sectionPlus {
  width: 100%;
  display: none;
}
.buttonSeePlus {
  width: 100%;
  height: 100px;
  display: flex;
  text-align: center;
}

.see {
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-weight: 900;
  color: purple;
  animation: piscarTexto 800ms steps(49) infinite normal;
  cursor: pointer;
}
@keyframes piscarTexto {
  0% {
    color: white;
  }

  100% {
    color: purple;
  }
}

#blocoSkils h1 {
  display: block;
  margin-bottom: 10px;
}

#blocoSkils {
  display: block;
  text-align: center;
  align-content: center;
  align-items: center;
  padding: 11px 1px;
}

.imagemSkils {
  display: inline-block;
  text-align: center;
  align-content: center;
  height: 60px;
}

.imagemSkils:hover {
  -webkit-transform: scale(2.1);
  transform: scale(1.1);
}

.skils {
  width: 480px;
  height: 240px;
  background-color: #f0f0f0;
  color: purple;
  border-radius: 15px;
  box-shadow: 1px 2px 11px black;
}

.skils h1 {
  color: purple;
  margin-top: 2px;
}

#html {
  margin-top: 50px;
}

#html p {
  font-size: 20px;
  text-align: justify;
  width: 80%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#css {
  margin-top: 50px;
}

#css p {
  font-size: 20px;
  text-align: justify;
  width: 85%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#javascript {
  margin-top: 50px;
}

#javascript p {
  font-size: 20px;
  text-align: justify;
  width: 90%;
  justify-content: space-between;
  display: inline flow-root list-item;
  margin-top: 20px;
  font-family: lorem;
}

#react {
  margin-top: 50px;
}

#react p {
  font-size: 20px;
  text-align: justify;
  width: 85%;
  justify-content: space-between;
  display: inline flow-root list-item;
}

.resumo-das-skils {
  display: flex;
  justify-content: center;
  text-align: center;
}

.titulo-das-skils {
  height: 100px;
  display: block;
  text-align: center;
}

.titulo-das-skils div {
  width: 100%;
  height: 10px;
  margin-top: 50px;
  float: inline-end;
}

.titulo-das-skils h6 {
  width: 100%;
  height: 100%;
  color: purple;
}

.arrow-down {
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  margin-top: 70px;
  border-top: 20px solid purple;
  margin-left: 71px;
  animation: bouncing 1s ease-in-out alternate infinite;
}

@keyframes bouncing {
  to {
    transform: translateY(10px);
  }
}

h6 {
  font-size: 25px;
  margin-top: 4px;
}

.titulo-nome-bloco1 {
  padding: auto;
}

#portifolio {
  display: inline-block;
  justify-content: center;
  color: #ffffff;
  font-weight: 900;
  background-color: black;
  width: 175px;
  border-radius: 5px;
  height: 43px;
  font-weight: 200;
}

.linha {
  border-top: solid 1px black;
  margin-top: -18px;
}

#bubble {
  margin-top: -20px;
  margin-bottom: 20px;
}

.bubble {
  background-color: white;
  border: 2px solid white;
  border-radius: 5px;
  color: black;
  display: inline-block;
  font: 16px/24px sans-serif;
  padding: 12px 24px;
  position: relative;
  margin-top: 10px;
}

.bubble.active:after,
.bubble.active:before {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid white;
  bottom: -15px;
  content: "";
  left: 50%;
  margin-left: -15px;
  position: absolute;
}

.bubble.active:before {
  border-left: 18px solid transparent;
  border-right: 18px solid transparent;
  border-top: 18px solid;
  border-top-color: inherit;
  bottom: -18px;
  margin-left: -18px;
}

#portifolio div {
  margin-top: 3px;
}

/*container*/
.container {
  height: 550px;
  width: 470px;
  display: inline-block;
  margin-bottom: 10px;
  margin-right: 15px;
  border-radius: 25px;
  background-color: #ffffff;
  color: #000000;
  cursor: pointer;
  box-shadow: 0 5px 15px rgb(0, 0, 0);
}

.container:hover {
  background-color: rgb(226, 164, 255);
}

.verProjeto {
  color: white;
  font-size: 20px;
  font-weight: 800;
}

#seta {
  float: right;
  padding: 8px;
  margin-top: -23px;
  margin-right: 80px;
  box-shadow: 4px -4px 0 1px rgb(255, 255, 255) inset;
  border: solid transparent;
  border-width: 0 0 4px 4px;
  transform: rotate(-140deg);
}

a {
  color: #000000;
}

.ifem {
  width: 69%;
  background-color: #a09f9f;
  height: 1px;
  display: inline-block;
  margin-bottom: 4px;
}

.circulo {
  margin-top: 30px;
}

.verde {
  background-color: black;
}

.amarelo {
  background-color: black;
}

.vermelho {
  background-color: black;
}

#verde-piscar {
  animation: piscar 500ms linear infinite;
}

#amarelo-piscar {
  animation: piscar 700ms infinite;
}

#vermelho-piscar {
  animation: piscar 900ms infinite;
}

@keyframes piscar {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.circulo {
  border: solid 1px rgb(112, 112, 112);
  width: 15px;
  height: 15px;
  margin-left: 5px;
  border-radius: 50%;
  margin-right: 5px;
  display: inline-block;
}

.container:hover {
  transition: 50ms;
  color: #5a5252;
}

.container-titulo {
  width: 100%;
  color: purple;
  height: 6%;
  justify-content: center;
  text-align: center;
}

.container-titulo h5 {
  color: purple;
  font-weight: 900;
}

.titulo-container {
  display: block;
  margin-top: 20px;
  width: 100%;
  font-weight: 900;
  font-size: 18px;
  text-transform: uppercase;
}

.container-imagem {
  height: 80%;
  width: 99, 9%;
}

.container-imagem img {
  width: 100%;
  height: 100%;
}

.container-imagem img:hover {
  -webkit-transform: scale(1.1);
  transform: scale(1.07);
}

.container-link {
  display: none;
  justify-content: center;
  width: 100%;
}

.container-link a {
  font-size: 20px;
  width: 50%;
  color: #ffffff;
}

.botao-left {
  height: 100%;
  width: 10%;
  float: left;
}

.botao-right {
  height: 100%;
  width: 10%;
  float: right;
}

.conteudo-central {
  height: 100%;
  display: inline-block;
}

.botao-left button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff00;
}

.botao-right button {
  width: 100%;
  height: 100%;
  border: none;
  background-color: #ffffff00;
}

button img {
  width: 100%;
}

.conteudo-1 {
  height: 100%;
  width: 100%;
}

.conteudo-2 {
  height: 100%;
  width: 100%;
  background-color: rgb(0, 97, 241);
}

.conteudo-3 {
  height: 100%;
  width: 100%;
  background-color: rgb(255, 230, 0);
}

.diagonal-box {
  transform: skewY(-2deg);
  z-index: -1;
  overflow: hidden;
}

.container-2 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  height: 300px;
  position: relative;
  align-content: center;
  background: linear-gradient(
    0deg,
    purple,
    0%,
    purple 50%,
    #fff 50%,
    #fff 100%
  );
  transform-style: preserve-3d;
  margin-top: 100px;
}

.container-2 .card-2 {
  position: relative;
  width: 140px;
  height: 240px;
  background-color: #fff;
  margin: 0 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  box-shadow: 0 5px 15px #000000;
  transition: 0.5s;
  overflow: hidden;
  transform-style: preserve-3d;
  z-index: 0;
  cursor: pointer;
}

.container-2 .card-2 h1 {
  width: 80px;
  height: 80px;
  line-height: 80px;
  font-size: 3em;
  background: purple;
  color: #fff;
  text-align: center;
  border-radius: 50%;
  transition: box-shadow 0.5s;
  margin-top: 10px;
}

.container-2 .card-2:hover h1 {
  background: #fff;
  color: #000000;
  box-shadow: 0 0 0 150px purple;
}

.fita-centralizada {
  margin-left: 90px;
}

.fita {
  background: rgb(0, 0, 0);
  position: relative;
  justify-content: center;
  /*display: inline-block;*/
  color: rgb(255, 240, 240);
  line-height: 40px;
  height: 40px;
  font-size: 25px;
  text-align: center;
  font-weight: 600;
  text-transform: uppercase;
  box-shadow: 0 0 8px rgb(126, 126, 126);
}

.fita:before,
.fita:after {
  content: "";
  line-height: 0;
  border-style: solid;
  border-width: 20px;
  position: absolute;
  top: 10px;
  z-index: -2000;
  width: 5px;
}

.fita:before {
  border-color: #0c0c0c #0c0c0c #0c0c0c transparent;
  left: -35px;
}

.fita:after {
  border-color: #0c0c0c transparent #0c0c0c #0c0c0c;
  right: -35px;
}

.conteudo:before,
.conteudo:after {
  position: absolute;
  content: "";
  height: 0;
  line-height: 1px;
  border-style: solid;
  border-width: 5px;
  z-index: -1999;
}

.conteudo:before {
  border-color: #616161 #616161 transparent transparent;
  bottom: -10px;
  left: 0;
}

.conteudo:after {
  border-color: #616161 transparent transparent #616161;
  bottom: -10px;
  right: 0;
}

.sobre {
  height: 607px;
  display: flex;
  width: 100%;
  background-color: #ffffff;
  margin-bottom: 100px;
}

.cont1 {
  display: inline-block;
  width: 33.3%;
}

.icones-objetivos {
  float: left;
  margin-left: 50px;
  margin-top: 50px;
}

.selecionadores {
  height: 100%;
}

.selecionadores ul {
  text-align: center;
  height: 100%;
}

.selecionadores ul li {
  justify-content: center;
  display: block;
  height: 150px;
  border-bottom: solid 2px purple;
  color: rgb(248, 248, 248);
}

.selecionadores ul li:hover {
  background-color: purple;
}

.selecionadores ul li a {
  display: block;
  padding: 60px;
  font-size: 20px;
  font-weight: 700;
  color: purple;
}

.selecionadores ul li a:hover {
  color: rgb(255, 254, 254);
}

.conteudo-sobre {
  padding: 24px;
}

.conteudo-principal-sobre ul li p {
  margin-top: 5px;
  font-size: 19px;
  font-family: "Times New Roman", Times, serif;
  text-align: justify;
  color: purple;
}

.conteudo-principal-sobre ul li h1 {
  color: purple;
  font-size: 49px;
  font-weight: 900;
}

.conteudo-principal-sobre ol {
  list-style-type: disc;
  color: purple;
  font-size: 30px;
  margin-left: 10px;
}

.minha-formacao ol {
  padding: 10px;
  border-left: 2px rgb(255, 255, 255) solid;
}

.habilidade-ol {
  padding: 30px;
}

.habilidade-sobre-mim ul li {
  margin-left: 50px;
  font-size: 25px;
  margin-top: 20px;
  font-weight: 500;
  color: #ffffff;
}

.habilidade-sobre-mim ul {
  background-color: #000000;
}

#avatar1 {
  margin-left: -50px;
}

#avatar3 {
  margin-left: -50px;
}

#avatar4 {
  margin-left: -50px;
}

.habilidade-img {
  margin-top: -620px;
  margin-left: 290px;
  display: none;
}

.habilidade-img img {
  height: 70px;
  margin-left: 50px;
  display: block;
  margin-top: 10px;
}

.imagem-fundo {
  display: inline-block;
  margin-top: 100px;
}

/*
.imagem-fundo {
  -webkit-transform: skew(-16deg) translateX(-70px);
  -ms-transform: skew(-16deg) translateX(-70px);
  transform: skew(-16deg) translateX(-70px);

}*/

.fita-horizontal {
  width: 50px;
  margin-left: 45px;
  background-color: purple;
  -webkit-transform: skew(-16deg) translateX(-70px);
  -ms-transform: skew(-16deg) translateX(-70px);
  transform: skew(-4deg) translateX(-70px);
}

.shadow-avatar-sltyle {
  background-color: purple;
  width: 200px;
  height: 50px;
  border-radius: 45%;
  margin-left: 80px;
  margin-top: -50px;
}

#shadow-avatar2 {
  margin-top: -24px;
  margin-left: 111px;
}

#shadow-avatar3 {
  margin-top: -136px;
  margin-left: 72px;
  height: 78px;
  width: 272px;
}

.ajustar-bacgraund {
  background-color: #ffffff;
}

@keyframes animacao {
  from {
  }

  to {
  }
}

.fita-centralizada {
  width: 50%;
  display: inline-block;
  justify-content: center;
  text-align: center;
}

.imagem-Smartphone {
  display: none;
}

.fita {
  width: 400px;
}

.resume-file {
  float: inline-end;
  margin-top: -50px;
}

.container-main {
  height: 500px;
  white-space: nowrap;
  display: flex;
  margin-top: 50px;
}

.container-card {
  width: 100%;
  height: 100%;
  display: contents;
}

.container-image {
  display: inline-block;
  width: 50%;
  margin-left: 0;
}

.container-image img {
  display: inline-block;
}

.imagem-pc {
  height: 350px;
  margin-top: 50px;
}

.imagem-cell {
  width: 151px;
  margin-left: -150px;
  margin-bottom: -5px;
}

.container-description {
  width: 40%;
  display: inline-block;
  height: 100%;
  margin-left: 0;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: -50px;
}

.container-description h1 {
  width: 100%;
  font-size: 40px;
  text-align: start;
  color: #986dff;
  text-shadow: -1px -1px 0px white, 2px 2px 0px blue, 6px 6px 0px black;
}

.container-description p {
  font-size: 20px;
  text-align: justify;
  display: block;
  white-space: break-spaces;
  margin-top: 30px;
  color: white;
}

.container-description a {
  display: inline-block;
}

.link-acess {
  display: block;
  text-align: initial;
}

.proj2 img {
  display: inline-block;
  width: 59px;
  margin-bottom: -23px;
}

.button-link {
  background: #986dff;
  width: 163px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 34px;
  font-weight: 800;
  padding: 11px;
  box-shadow: 1px 36px 13px -21px #986dff;
}

.button-link:hover {
  color: wheat;
}

.resumo-container {
  width: 80%;
}

.number-project {
  width: 25px;
  background: #986dff;
  height: 24px;
  padding: 3px;
  border-radius: 50%;
  font-size: 20px;
  font-weight: 800;
  color: white;
  margin-left: 36px;
}

.container-skills {
  height: 700px;
  display: flex;
  margin-bottom: 30px;
}

.section-skill {
  background: #0f141e;
  height: 90%;
  display: inline-block;
  border: solid 1px silver;
  margin: 66px;
}

.box-shadow {
  box-shadow: 27px 27px 20px -8px #986dff;
}

.container-right-title {
  width: 40%;
  height: 550px;
  display: inline-block;
  margin-top: 50px;
  margin-left: 50px;
  text-align: center;
}

.container-right-title h1 {
  width: 100px;
  margin-top: 164px;
  display: block;
  margin-left: 30%;
  color: #986dff;
  font-size: 40px;
}

#circulos {
  display: inline-block;
}

table {
  width: 100%;
}

table tr td {
  padding: 54px 134px;
}

table tr td img {
  width: 100px;
}

.texto {
  padding: 63px;
  color: #986dff;
  font-size: 21px;
}

.texto-formacao {
  color: #986dff;
  margin-top: -100px;
  padding: 60px;
}

.texto-formacao h1 {
  margin-bottom: 10px;
}

span {
  color: white;
}

.container-projetos {
  display: grid;
  grid-template-columns: repeat(2, 3fr);
  padding: 0px 5rem;
  height: 100%;
}

.card {
  width: 90%;
  height: 650px;
  margin: 10px;
}
.pj1 {
  background-color: #0f141e;
  background-image: url(../imagem-projetos/portifolio/geraisnetMobile.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 230px;
  background-position-y: 80px;
  background-blend-mode: saturation;
}
.pj1:hover {
  background-size: 60%;
  animation: zoom-size 2s;
}
@keyframes zoom-size {
  from {
    background-size: 50%;
  }
  to {
    background-size: 60%;
  }
}

.pj2 {
  background-color: #0f141e;
  background-image: url(../imagem-projetos/pizzaria/pizzaria-pc.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: 130px;
  background-position-y: 80px;
  background-blend-mode: saturation;
}
.pj2:hover {
  background-size: 220%;
  animation: zoom-size2 2s;
}
@keyframes zoom-size2 {
  from {
    background-size: 200%;
  }
  to {
    background-size: 220%;
  }
}
.pj3 {
  background-color: #0f141e;
  background-image: url(../imagem-projetos/projetoFinance/finance-pc.png);
  background-size: 200%;
  background-repeat: no-repeat;
  background-position-x: -490px;
  background-position-y: 180px;
  background-blend-mode: saturation;
}
.pj3:hover {
  background-size: 220%;
  animation: zoom-size3 2s;
}
@keyframes zoom-size3 {
  from {
    background-size: 200%;
  }
  to {
    background-size: 220%;
  }
}
.pj4 {
  background-color: #0f141e;
  background-image: url(../imagem-projetos/sistemaUsuario/sistemaUsuario-cell.png);
  background-size: 50%;
  background-repeat: no-repeat;
  background-position-x: 300px;
  background-position-y: 80px;
  background-blend-mode: saturation;
}

.pj4:hover {
  background-size: 60%;
  animation: zoom-size4 2s;
}
@keyframes zoom-size4 {
  from {
    background-size: 50%;
  }
  to {
    background-size: 60%;
  }
}
td img:hover {
  animation-name: zoom;
  animation-duration: 500ms;
}

@keyframes zoom {
  from {
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  to {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
}
.card:hover {
  background-color: #171c25;
}

.sub-title {
  justify-content: space-between;
  display: flex;
}
.card-item {
  padding: 30px;
}

.title-card {
  padding: 0px 30px 20px;
}
.title-card h1 {
  line-height: 2.5rem;
  padding-top: 3px;
  padding-bottom: 2px;
  font-size: 43px;
  font-weight: bold;
}

.resume-card {
  padding: 0px 30px 0px;
  font-size: 17px;
  text-align: justify;
}

.fnt-color {
  color: white;
}

.links-cards {
  padding: 10px 30px;
}

.links-cards a {
  padding: 25px;
  background-color: #ffffff14;
  font-size: 17px;
  font-weight: 100;
  display: inline-block;
  width: 100px;
  text-align: center;
}
#link-after:hover {
  -webkit-transform: scale(0.3);
  -ms-transform: scale(0.3);
  transform: scale(1.02);
  background-color: #ffffff2f;
}

.new {
  width: 55px;
  height: 50px;
  top: 20px;
  right: 20px;
  z-index: 3;
  pointer-events: none;
  color: #fff;
  text-align: center;
  font-size: 0.925rem;
  line-height: 3.2rem;
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-style: normal;
  border: 3px solid #ffffff14;
  border-radius: 50%;
  transition: all 0.2s linear;
  background-color: #ffffff14;
}

#h1-card-year {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 100;
}

.container-sobre-mim {
  display: flex;
  justify-content: center;
  align-items: center;
}

.section-principal-sobre-mim {
  height: 500px;
}

.container-img-sobre-mim {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.container-img-sobre-mim img {
  background-color: #0f141e;
  width: 150px;
  border-radius: 50%;
}

.container-texto-sobre-mim {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #0f141e;
}

.container-texto-sobre-mim p {
  text-align: center;
  max-width: 800px;
  padding: 30px 100px;
  font-size: 25px;
  color: #0f141e;
  font-weight: 100;
  line-height: 2.5rem;
}
.container-rows {
  display: grid;
  grid-template-columns: repeat(4, 4fr);
  padding: 10px 5rem;
  text-align: center;
}

.row {
  width: 260px;
  height: 200px;
  margin: 10px;
  border: solid 4px white;
  box-shadow: 0 0.125rem 0.35rem #0f141e2e !important;
}
.row img {
  width: 40px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.row h1 {
  font-size: 20px;
  font-weight: 500;
  color: #0f141e;
  padding: 10px 0px;
  text-transform: uppercase;
}
.row h3 {
  color: #0f141e;
  font-size: 0.775rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  line-height: 1.25rem;
  padding-top: 5px;
  padding-bottom: 15px;
}

@media only screen and (max-width: 1300px) {
  #bloco {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
  }
  .container-title {
    color: purple;
    font-size: 16px;
  }

  .menu-smartphone-sobre-mim {
    display: block;
  }

  .imagem-pc {
    height: 360px;
  }
}

@media only screen and (max-width: 1200px) {
  #blocoDeTexto {
    display: inline-block;
    align-items: center;
    align-content: center;
    padding: 0px 30px;
    color: white;
    margin-bottom: 4px;
    margin-top: 170px;
  }
}
@media only screen and (max-width: 1050px) {
  .container-projetos {
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    padding: 0 5rem;
  }
  .card {
    width: 400px;
    height: 650px;
    margin-left: 10%;
    margin-right: 40px;
    margin-bottom: 30px;
  }

  table tr td img {
    width: 100px;
  }
  table tr td {
    padding: 54px 120px;
  }

  .container-texto-sobre-mim p {
    text-align: center;
    padding: 25px 90px;
    font-size: 25px;
    color: #0f141e;
    font-weight: 100;
    line-height: 2.5rem;
  }

  .container-rows {
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    padding: 0px 3.6rem;
    text-align: center;
  }

  .row {
    width: 500px;
    height: 300px;
    margin: 10px;
    border: solid 4px white;
    box-shadow: 0 0.125rem 0.35rem #0f141e2e !important;
  }

  .container-texto-sobre-mim p {
    text-align: center;
    max-width: 800px;
    padding: 26px 20px;
    font-size: 23px;
    color: #0f141e;
    font-weight: 100;
    line-height: 2.5rem;
  }
}

@media only screen and (max-width: 500px) {
  #blocoDeTexto {
    width: 100%;
  }
  .container-projetos {
    display: grid;
    grid-template-columns: repeat(1, 0fr);
    padding: 0;
  }

  .card {
    background: #0f141e;
    padding: 0px;
    width: 100%;
    margin: 25px;
  }
  .testcard {
    width: 100%;
  }
  .container-imagem {
    height: 70%;
    width: 99%;
  }
  #blocoDeTexto {
    padding: 0px 0px;
  }
  #bloco {
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    padding: 0px 0.5rem;
  }

  .line {
    font-family: "Helvetica Now Display DW", sans-serif;
    letter-spacing: -0.01em;
    color: #0f141e;
    font-size: 2.6em;
    width: 100%;
    text-align: center;
  }

  .titulo-nome-bloco1 {
    width: 100%;
    text-align: center;
  }

  .bloco-links {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    justify-content: center;
    padding: 0.5rem 0.5rem;
  }

  .social-midia {
    font-size: 15px;
    display: inline-block;
    background: #0f141e;
    border-radius: 2px;
    font-weight: 100;
    color: white;
    width: 92px;
  }
  .meuResumo {
    width: 100%;
    text-align: center;
    height: 200px;
    margin-top: 30px;
  }
  .bloco {
    height: 100%;
  }
  .container-skills {
    height: 100%;
    display: flex;
    margin-bottom: 30px;
  }
  .section-skill {
    width: 90%;
    background: #0f141e;
    height: 56%;
    display: inline-block;
    border: solid 1px silver;
    margin: 19px;
  }

  table tr td img {
    width: 60px;
  }

  table tr td {
    padding: 29px 28px;
  }

  .container-texto-sobre-mim p {
    text-align: center;
    max-width: 800px;
    padding: 26px 20px;
    font-size: 23px;
    color: #0f141e;
    font-weight: 100;
    line-height: 1.5rem;
  }

  .container-rows {
    display: grid;
    grid-template-columns: repeat(1, 4fr);
    padding: 0px 3.6rem;
    text-align: center;
  }
  #minhaImagem {
    margin-top: 0px;
    width: 100%;
  }
  .links-cards a {
    padding: 25px;
    background-color: #ffffff14;
    font-size: 17px;
    font-weight: 100;
    display: inline-block;
    text-align: center;
  }
  #tituloProjetos {
    display: none;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 20px;
    margin-left: 30px;
    font-size: 20px;
  }
  .row {
    width: 260px;
    height: 200px;
    margin: 10px;
    border: solid 4px white;
    box-shadow: 0 0.125rem 0.35rem #0f141e2e !important;
  }
}
