html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* menu*/
nav {
  color: #fff;
  padding: 30px;
  padding-left: 100px;
  padding-right: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1;
  position: relative;
}

h1 {
  margin: 0;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
  color: #fff;
}

#nameTitle {
  color: var(--White, #fff);
  font-family: Space Grotesk;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 100% */
  letter-spacing: -0.444px;
}
body {
  background: var(--Black, #151515);
}

/* Sobre Mim*/
.sobre-mim {
  display: flex;
  padding-left: 100px;
  padding-right: 100px;
  justify-content: space-evenly;
  align-items: center;

  background-image: url("../images/pattern-rings.svg");
  background-size: 400px; /* ou 'contain' para ajustar o tamanho da imagem */
  background-position: start;
  background-repeat: no-repeat;
}

.conteudo {
  width: 660px;
  height: 303px;
  flex-shrink: 0;
}

.conteudo-titles {
  padding-bottom: 50px;
}

.texto {
  color: var(--White, #fff);
  font-feature-settings: "clig" off, "liga" off;
  /* Heading (XL) */
  font-family: Space Grotesk;
  font-size: 88px;
  font-style: normal;
  font-weight: 700;
  line-height: 88px; /* 100% */
  letter-spacing: -2.5px;
  padding-left: 30px;
}

.resumo {
  width: 445px;
  color: var(--Grey, #d9d9d9);
  font-feature-settings: "clig" off, "liga" off;
  /* Body */
  font-family: Space Grotesk;
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px; /* 155.556% */
  letter-spacing: 0px;
  gap: 100px;
}

.foto img {
  width: 400px;
  flex-shrink: 0;
  background-color: #ffffff11;
  display: flex;
  margin-top: -93px;
}

span {
  border-bottom: 6px solid var(--Green, #4ee1a0);
}

.link {
  color: var(--White, #fff);
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
  padding-bottom: 10px;
  letter-spacing: 2.286px;
  border-bottom: solid 2px var(--Green, #4ee1a0);
  cursor: pointer;
}

.link:hover {
  color: #4ee1a0;
}

/* Adaptação para telas menores usando media query */
@media screen and (max-width: 768px) {
  nav {
    color: #fff;
    padding: 30px;
    /* padding-left: 100px; */
    /* padding-right: 100px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
    position: relative;
}

  h1 {
    width: 400px;
    margin: 0;
}
  .sobre-mim {
    display: flex;
   
    justify-content: space-around;
    align-items: center;
    background-image: url(../images/pattern-rings.svg);
    background-size: 400px;
    background-position: start;
    background-repeat: no-repeat;
}

  .texto {
    color: var(--White, #fff);
    font-family: Space Grotesk;
    font-size: 72px;
    font-style: normal;
    font-weight: 700;
    line-height: 72px; /* 100% */
    letter-spacing: -2.045px;
  }

  .conteudo {
     width: 360px; 
    height: 303px;
    flex-shrink: 0;
}

.conteudo-titles {
  padding-bottom: 20px;
}

.resumo {
  color: var(--Grey, #D9D9D9);
font-feature-settings: 'clig' off, 'liga' off;
/* Body */
font-family: Space Grotesk;
font-size: 18px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 155.556% */
}
}


@media screen and (max-width: 375px) { 
  nav {
    color: #fff;
    display: block;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: relative;
}

ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
}

  #nameTitle {
    color: var(--White, #fff);
    font-family: Space Grotesk;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 32px;
    letter-spacing: -0.444px;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin-bottom: 9px;
}

a {
  text-decoration: none;
  color: #fff;
  padding: 5px;
}

.sobre-mim {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(../images/pattern-rings.svg);
  background-size: 400px;
  background-position: start;
  padding: 0;
  flex-direction: column-reverse;
}

.conteudo-titles {
  color: var(--White, #FFF);
text-align: center;
font-family: Space Grotesk;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: 40px; /* 100% */
letter-spacing: -1.136px;
}

h1 {
  width: 340px;
  margin: 0;
}

.resumo {
  color: var(--Grey, #D9D9D9);
  text-align: center;
  font-family: Space Grotesk;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
  width: 330px;
}

.conteudo-links {
 
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.foto img {
  width: 302px;
  flex-shrink: 0;
  background-color: #ffffff11;
  display: flex;
  margin-top: -129px;
}

  .conteudo {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    padding: 15px;
}
}


