/* Seção de projetos */
.section-title {
  color: #4e89ae;
  margin-bottom: 10px;
  font-size: 1.5rem;
  font-weight: 600;
}
.section-projects {
  padding: 80px 20px;
  background-color: #ffffff;
}

.container-project {
  max-width: 1200px;
  margin: 0 auto;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 30px;
  margin-top: 50px;
}

.project-card {
  position: relative;
  aspect-ratio: 3/4;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.08);
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.project-card:hover {
  transform: translateY(-8px);
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.95);
  transition: filter 0.4s ease;
}

.project-card:hover .project-image {
  filter: brightness(0.7) blur(2px);
}

.project-content {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 25px;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
  color: white;
  transform: translateY(30%);
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
}

.project-card:hover .project-content {
  transform: translateY(0);
}

.project-title {
  color: var(--light-color);
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 15px;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.project-description {
  font-size: 0.95rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease, margin-top 0.4s ease;
}
.project-link {
  font-size: 0.95rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease, margin-top 0.4s ease;
}

.project-links
{
  font-size: 1rem;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.4s ease, max-height 0.4s ease, margin-top 0.4s ease;
}

.project-card:hover .project-description{
  opacity: 1;
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-card:hover .project-link {
  opacity: 1;
  max-height: 0;
}
.project-card:hover .project-links{
  opacity: 1;
  max-height: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* Responsividade */
@media (max-width: 768px) {
  .projects-grid {
    grid-template-columns: 1fr;
    max-width: 500px;
    margin: 50px auto 0;
  }
}

.tech-highlight-project {
  color: #3b82f6;
  font-weight: 600;
}


.tech-highlight-project:hover {
  color: #2762c3;
  font-weight: 600;
}